.background-header {
    /*background-color: #4386f4;*/
    background-position: center;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 20rem;
}

header h1 {
    color: #FFF;
    font-size: 700;
    text-decoration: blink;
}

.btnsubmit {
    margin-top: 10%;
}

